@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";

/*
Kalameh fonts are considered a proprietary software. To gain information about the laws
regarding the use of these fonts, please visit www.fontiran.com
---------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
---------------------------------------------------------------------
*/

@font-face {
    font-family: 'Kalameh';
    src: url('/fonts/Kalameh/KalamehWeb-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Kalameh';
    src: url('/fonts/Kalameh/KalamehWeb-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Kalameh';
    src: url('/fonts/Kalameh/KalamehWeb-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Kalameh';
    src: url('/fonts/Kalameh/KalamehWeb-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Kalameh';
    src: url('/fonts/Kalameh/KalamehWeb-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Kalameh';
    src: url('/fonts/Kalameh/KalamehWeb-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Kalameh';
    src: url('/fonts/Kalameh/KalamehWeb-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Kalameh';
    src: url('/fonts/Kalameh/KalamehWeb-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Kalameh';
    src: url('/fonts/Kalameh/KalamehWeb-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

body {
    font-family: 'Kalameh', 'Shabnam', sans-serif;
    background-color: #f9fafb;
}

.hide-scroll-x {
    overflow-x: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.hide-scroll-x::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.swiper-pagination-bullet {
    background-color: #AEAEB2 !important;
    opacity: 1 !important;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    width: 19px !important;
    height: 8px !important;
    border-radius: 8px !important;
    background-color: #AEAEB2 !important;
}

.swiper-vertical .swiper-pagination-bullet-active {
    width: 8px !important;
    height: 19px !important;
    border-radius: 8px !important;
    background-color: #AEAEB2 !important;
}

.swiper-slide-content {
    transform: scale(0.85);
    opacity: 0.6;
    transition: all 0.3s ease;
}

.swiper-slide-active .swiper-slide-content {
    transform: scale(1);
    opacity: 1;
}

.shadow {
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
}

.shadow-prime {
    box-shadow: 0 0 7px 0 rgba(242, 140, 40, 1);
}