@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';

/* Shabnam Font */
@font-face {
    font-family: 'Shabnam';
    src: url('/fonts/Shabnam-FD.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Shabnam';
    src: url('/fonts/Shabnam-Bold-FD.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Shabnam';
    src: url('/fonts/Shabnam-Light-FD.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'Shabnam', sans-serif;
}

